Plots/*
Homework/*
Scratch/*
__pycache__/*
*.pyc
*.nbi
*.nbc
.vscode/*
.eggs/*
StatOD.egg-info/*
.cachedir/*
cachedir/*
.venv/*
docs/build/*
docs/source/auto_examples
docs/source/Tutorials
Scripts/Archived/
Data/Networks
Data/Dataframes
Data/FilterLogs
SlurmFiles/*
*.data
*.ipynb