Plots/*
Homework/*
Scratch/*
__pycache__/*
*.pyc
*.nbi
*.nbc
.vscode/*
.eggs/*
StatOD.egg-info/*
.cachedir/*
cachedir/*
.venv/*
docs/build/*
docs/source/auto_examples
docs/source/Tutorials
Scripts/Archived/
Data/Networks
Data/Dataframes
Data/FilterLogs
SlurmFiles/*
# *.data
Data/Trajectories/*
Data/Measurements/*
*.ipynb
Scripts/Scratch/*
Data/TrajMetrics/*

# Past Work
Data/Project2/*
Data/project_1_observations.txt
Data/Real/reference_traj_and_STM_w_J2.txt
StatOD/hw_utils.py
Data/Products/*